@import url(https://fonts.googleapis.com/css?family=Lato);
body {
  margin: 0;
}

.root {
  margin: 0 auto;
  width: 100%;
  color: #555;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
}

.widget-container {
  width: 100%;
  height: 350px;
  background-color: #fff;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
    font-family: Lato;
}

h1 {
    color: #404054;
    text-align: center;
    font-weight: normal;
}

.statful-chart {
    border-radius: 4px;
    resize: both;
    overflow:auto;
}

.widget-container {
    background-color: #ffffff;
    padding: 10px;
    width: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.root {
    min-height: 100vh;
}

ul > li.menu {
    line-height: 35px;
}

.left-menu {
    float: left;
    width: 190px;
    background-color: #fbfbfb;
}

.right-menu {
    width: calc(100% - 10px);
    background-color: #ECF1F5;
}

.view-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #ededed;
}

.update-button {
    position: fixed;
    top: 28px;
    right: 18px;
    border: 1px solid #82A2BD;
    outline: none;
    background-color: #fff;
    color: #5E88AB;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    z-index: 1000;
    width: 150px;
}

.update-button:hover {
    background-color: #547CA1;
    color: #fff;
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 0 0 0 15px;
}

.left-menu .menu a{
    color: #555D83;
    font-size: 15px;
    text-decoration: none;
    cursor: default;
    opacity: 0.6;
}

.left-menu .menu a.available {
    color: #555D83;
    cursor: pointer;
}

.left-menu .menu a.available:hover {
    text-decoration: underline;
}

.left-menu .fa {
    width: 12px;
}

.right-menu .account {
    background-color: #fbfbfb;
    height: 63px;
    border-bottom: 1px solid #E1E1E1;
}

.right-menu .account .name {
    height: 63px;
    line-height: 35px;
    font-size: 15px;
    float: right;
    color: #404054;
    margin-right: 20px;
}

.right-menu .account .title {
    font-size: 30px;
    line-height: 63px;
    padding-left: 20px;
    float: left;
    color: #555D83;
}

.logo {
    padding: 13px;
    background-color: #4b3890;
    margin-bottom: 30px;
    text-align: center;
}

.statful-chart.stf-modal .modal-container .modal-header {
    background-color: #FFF;
    border-bottom: 1px solid #E1E1E1;
}

#bigNumber {
    width: 850px;
}

#donut {
    width: 400px;
}

#line {
    width: 725px;
}
#stackedStep {
    width: 600px;
}

#column,#step,#stackedLine,#stackedColumn,#smoothedLine{
    width: 1351px;
}
#pie,#pie2,#pie3 {
    width: 420px;
}

.statful-chart .stf-chart-title {
    color: #555D83;
    opacity: 0.7;
}